<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes" />
        <!-- https://codewithshadman.com/machine-key-generator/ -->
        <machineKey xdt:Transform="Insert"
            validation="SHA1"
            decryption="AES"
            decryptionKey=""
            validationKey="" />
        <sessionState xdt:Transform="InsertIfMissing" />    
        <!--
        https://learn.microsoft.com/en-us/azure/azure-cache-for-redis/cache-aspnet-session-state-provider#aspnet-session-state-options -->
        <sessionState xdt:Transform="Replace" 
            mode="Custom" 
            customProvider="RedisSessionStateStore">
            <providers>
                <!--
                https://learn.microsoft.com/en-us/azure/azure-cache-for-redis/cache-aspnet-session-state-provider#store-aspnet-session-state-in-the-cache -->
                <add name="RedisSessionStateStore"
                    type="Microsoft.Web.Redis.RedisSessionStateProvider"
                    host=""
                    port=""
                    accessKey=""
                    ssl=""
                    applicationName=""
                    databaseId=""
                    throwOnError="" />
            </providers>
        </sessionState>
    </system.web>
    <system.webServer>
        <httpErrors xdt:Transform="SetAttributes" errorMode="DetailedLocalOnly" />
        <asp xdt:Transform="SetAttributes" 
            appAllowClientDebug="False" 
            appAllowDebugging="False" 
            scriptErrorSentToBrowser="False">
            <comPlus xdt:Transform="SetAttributes" appServiceFlags="None" />
        </asp>
        <!-- https://stackoverflow.com/q/56931949 -->
        <modules>
            <remove name="Session" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
            <add name="Session" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
            <add name="Session" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
                type="Microsoft.AspNet.SessionState.SessionStateModuleAsync" 
                preCondition="integratedMode" />
        </modules>
    </system.webServer>
    <runtime>  
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
           <dependentAssembly xdt:Transform="Insert">  
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"  
                                publicKeyToken="b03f5f7f11d50a3a"  
                                culture="neutral" />  
              <bindingRedirect oldVersion="0.0.0.0-4.0.4.1"  
                               newVersion="6.0.0.0"/>  
           </dependentAssembly>  
           <dependentAssembly xdt:Transform="Insert">  
            <assemblyIdentity name="System.IO.Pipelines"  
                              publicKeyToken="cc7b13ffcd2ddd51"  
                              culture="neutral" />  
            <bindingRedirect oldVersion="0.0.0.0-5.0.0.1"  
                             newVersion="6.0.0.2"/>  
         </dependentAssembly>  
      </assemblyBinding>  
     </runtime> 
</configuration>