<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="SQLProvider" value="SQLOLEDB" />
        <add key="SQLConnectionStringName" value="AzureSql" />
    </appSettings>
    <connectionStrings>
        <add name="AzureSql" connectionString="Server=tcp:${SQL_HOST}.database.windows.net,1433;Initial Catalog=${SQL_DATABASE};Persist Security Info=False;User ID=${SQL_USER};Password=${SQL_PASSWORD};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" />
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <asp appAllowClientDebug="True" appAllowDebugging="True" scriptErrorSentToBrowser="True" enableParentPaths="True">
            <comPlus appServiceFlags="EnableTracker" />
        </asp>
    </system.webServer>
</configuration>